apiVersion: v1
kind: Service
metadata:
  name: minecraft
  labels:
    run: minecraft
spec:
  type: LoadBalancer
  selector:
    app: minecraft
  ports:
  - name: game
    port: 25565
    targetPort: game
    protocol: TCP
  - name: console
    port: 25575
    targetPort: console
    protocol: TCP
